<html>
  <head>
    <title>Cheat Sheet</title>
    <link rel="stylesheet" href="/stylesheets/app.css"/>
  </head>

  <body>
    <header class="row-alt">
      <img class="logo" src="/images/logo_l.png">
    </header>
    <div class="translate">
      <h3>Command Line Commands Manuals</h3>
    </div>
    <div class="grid">
      <nav>
        <ul class="original">
          <a href='/list'><li>List</li></a><!--
          --><a href='/find'><li>Find</li></a>
        </ul>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
