<div class="grid">
  <form method="post" action="/list">
    <input class="input" name="add_input" placeholder="Command to add" required/>
    <button class="submit" type="submit" name="submit" value="Submit">Submit</button>
  </form>
</div>
<%# <form method="post" action="/list">
  <input class="erase_space" name="erase_input" placeholder="Command to erase" required/>
</form> %>

<div class="grid lista">
  <h3>Command Line Commands</h3>
  <% $list.each do |elem| %>
    <div class="elem_list">
      <a href="/find/<%= elem %>"><li><p><%= elem %></p></li></a>
      <!-- <a href="/list/?id=<%= elem %>"><button name="<%= elem %>" value="OK" type="button">Erase</button></a> -->
    </div>
  <% end %>
</div>
